.popupFormContainer {
    width: 50%;
    height: 300px;
    background: #ebebeb;
    display: flex;
    .popupFormImg {
        width: 48%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .btnYellow {
        display: inline-block;
        text-decoration: none;
        width: 254px;
        height: 55px;
        background-color: #ffcf0d;
        border-radius: 2px;
        transition: all 0.5s linear;
        line-height: 58px;
        text-align: center;
        color: #1a1a1a;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
        cursor: pointer;
        &:hover {
            background-color: #ffe013;
        }
        &:disabled {
            background-color: #d8d8d8;
            color: white;
        }
    }
}